* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.c-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: green;
    color: white;
}

.c-footer {
    display: flex;
    background-color: green;
    color: white;
}